// Convert Pixels to REM units
@function rem($size, $neg: false) {
  $rem-size: $size / 16;

  @if $neg==true {
    @return -#{$rem-size}rem;
  }

  @else {
    @return #{$rem-size}rem;
  }
}

@mixin query($size, $boundary: 'min') {
  $max: 0;

  @if ($size==320) {
    $max: $sm - 1;
  }

  @else if ($size==577) {
    $max: $md - 1;
  }

  @else if ($size==768) {
    $max: $lg - 1;
  }

  @else if ($size==992) {
    $max: $xl - 1;
  }

  @else {
    $max: ($size - 1);
  }

  @if $boundary== 'max' {
    @media screen and (max-width: #{$max+'px'}) {
      @content;
    }
  }

  @else if $boundary== 'only' {
    @media screen and (min-width: #{$size+'px'}) and (max-width: #{$max+'px'}) {
      @content;
    }
  }

  @else {
    @media screen and (min-width: #{$size+'px'}) {
      @content;
    }
  }
}

// Custom Scrollbars
@mixin scrollbars(
  $size: rem(12),
  $foreground-color: grey,
  $background-color: white,
  $foreground-color-hover: black,
  $firefox-background: grey
) {
  scrollbar-color: var(--color-grey-variant) $firefox-background;
  scrollbar-width: thin; // Firefox does not "do" values for width

  // For Google Chrome
  &::-webkit-scrollbar {
    border-radius: 0;
    height: $size;
    width: $size;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
    // border-radius: $size;

    &:hover {
      background: $foreground-color-hover;
    }
  }

  // For Internet Explorer
  /* stylelint-disable-next-line scss/selector-no-redundant-nesting-selector */
  & {
    -ms-scrollbar-3dlight-color: $foreground-color;
    -ms-scrollbar-face-color: $foreground-color;
    scrollbar-face-color: $foreground-color;
    -ms-scrollbar-track-color: $background-color;
    scrollbar-track-color: $background-color;
  }
}

@mixin theme-gen($all-themes-map) {
  @each $theme-name, $theme-map in $all-themes-map {
    #{$theme-name} & {
      @content ($theme-map);
    }
  }
}
